@import url(../../assets/css/styles.css);

.order-status-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background-color: var(--white100);
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-bottom: 20px;
}

.three-tab-status {
  display: flex;
  width: 94%;
  background-color: var(--white50);
  border-radius: 40px;
  flex-direction: column;
  flex: 1;
  padding: 15px;
}

.tab-header-status {
  display: flex;
  background-color: var(--white50);
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.tab-item-status {
  flex: 1;
  text-align: center;
  padding: 16px;
  cursor: pointer;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  border-radius: 40px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.tab-item-status.active {
  color: white;
  font-weight: 600;
  font-size: 20px;
  background-color: transparent;
}

.tab-content-status {
  padding: 20px 0 0 0;
  flex: 1;
  overflow-y: auto;
}

.order-list-status {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-item-status {
  background-color: var(--orange50);
  border-radius: 16px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.item-content-status {
  display: flex;
  align-items: center;
  gap: 25px;
}

.product-image-status {
  width: 100px;
  height: 100px;
  border: 1px solid var(--green900);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange50);
}

.product-image-status img {
  max-width: 100%;
  max-height: 100%;
}

.Shop-info {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.Shop-info img {
  filter: invert(52%) sepia(30%) saturate(3351%) hue-rotate(1deg)
    brightness(101%) contrast(100%);
}

.Shop-name {
  font-size: 22px;
  font-weight: 700;
  color: var(--orange400);
}

.product-info-status {
  flex: 1;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.product-title-status {
  font-size: 24px;
  font-weight: 700;
  color: var(--green900);
  margin-bottom: 4px;
}

.product-weight-status {
  color: var(--white600);
  font-size: 20px;
  font-weight: 500;
}

.product-quantity-status {
  color: var(--orange600);
  font-size: 20px;
  font-weight: 600;
}

.product-price-status {
  width: 100px;
  justify-content: flex-end;
  display: flex;
  gap: 15px;
}

.original-price-status {
  text-decoration: line-through;
  color: var(--white400);
  font-size: 25px;
  font-weight: 600;
}

.current-price-status {
  display: flex;
  width: 100px;
  color: var(--red600);
  font-size: 25px;
  font-weight: 600;
  justify-content: flex-end;
}

.item-actions-status {
  display: flex;
  justify-content: flex-end;
}

.cancel-button-status {
  background-color: var(--red400);
  color: var(--white50);
  border: none;
  border-radius: 20px;
  padding: 6px 15px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cancel-icon-status {
  margin-right: 5px;
  margin-top: 1px;
}

.cancel-icon-status img {
  filter: brightness(0) invert(1);
}

.to-receive-button-status {
  background-color: var(--green400);
  color: var(--white50);
  border: none;
  border-radius: 20px;
  padding: 6px 15px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.rate-button-status {
  background-color: var(--orange500);
  color: var(--white50);
  border: none;
  border-radius: 20px;
  padding: 6px 15px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.star-icon-status {
  margin-top: 1px;
  margin-right: 5px;
}

.buy-again-button-status {
  background-color: var(--lime400);
  color: var(--white50);
  border: none;
  border-radius: 20px;
  padding: 6px 15px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cart-icon-status {
  margin-right: 5px;
  margin-top: 1px;
}

.cart-icon-status img {
  filter: brightness(0) invert(1);
}

.order-item-status.expanded {
  padding-bottom: 70px;
}

.order-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.cancel-reason-container-status {
  position: absolute;
  right: 30px;
  bottom: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 25%;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cancel-reason-input-status {
  flex: 1;
  border: 1px solid transparent;
  background: transparent;
  height: 40px;
  font-size: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: var(--white600);
  background-color: var(--white100);
  padding: 0 10px;
  transition: all 0.2s ease;
}

.cancel-reason-input-status:focus {
  border: 2px solid var(--green600);
  color: var(--white950);
  outline: none;
}

.cancel-reason-input-status:not(:placeholder-shown) {
  color: var(--white950);
}

.send-reason-button-status {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0 10px 0 0;
}

.cancel-reason-status {
  margin-top: 10px;
  color: var(--white600);
  font-size: 18px;
  font-style: italic;
}

.cancel-reason-label {
  font-weight: 600;
}

/* CSS cho phân trang */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 5px;
}

.pagination-button {
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.pagination-button:hover:not(.disabled):not(.active) {
  background-color: #f1f1f1;
}

.pagination-button.active {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

.pagination-button.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.view-rate-button-status {
  background-color: var(--orange500);
  color: var(--white50);
  border: none;
  border-radius: 20px;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.view-icon-status {
  margin-right: 3px;
  margin-top: 3px;
}

.view-icon-status img {
  filter: brightness(0) invert(1);
}

/* CSS cho thông báo không có đơn hàng */
.no-orders-status {
  text-align: center;
  padding: 40px 20px;
  color: var(--white600);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.no-orders-image {
  width: 150px; /* Điều chỉnh kích thước phù hợp */
  height: auto;
  margin-bottom: 10px;
}

.no-orders-message {
  font-size: 20px;
  font-weight: 500;
  color: var(--white600);
}

/* CSS cho chỉ báo loading */
.loading-indicator {
  text-align: center;
  padding: 40px 20px;
  color: var(--white600);
  font-size: 18px;
}

/* Thêm indicator mới */
.tab-indicator {
  position: absolute;
  height: calc(100% - 10px);
  background-color: #38cfa1;
  border-radius: 40px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1;
  left: 5px;
  top: 5px;
}
