@import url(../../assets/css/styles.css);

.detail-home-product {
  width: calc(100% - 90px);
  height: 800px;
  border-radius: 20px;
  display: flex;
  gap: 15;
  background-color: var(--white50);
}

.detail-home-product-image {
  position: relative;
  width: 50%;
  height: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 0 20px;
}

.detail-home-product-image-parrent {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(239, 239, 239, 0.3);
  border-radius: 20px;
}

.sale-home {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--green600);
  color: var(--white50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sale-home p {
  font-size: 24px;
  font-weight: 800;
}

.sale-home span {
  font-size: 15px;
  font-weight: 600;
}

.detail-home-product-image-parrent img {
  width: 330px;
  height: 330px;
  object-fit: cover;
}

.detail-home-product-image-options {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: thin;
}

.product-option-item-home {
  width: 130px;
  height: 150px;
  background-color: rgba(239, 239, 239, 0.3);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-option-item-home img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.detail-home-product-info {
  width: 525px;
  height: 700px;
  margin: 20px 0 0 80px;
  color: var(--white50);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detail-home-product-info-time {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-home-product-info-time img {
  filter: brightness(0) saturate(100%) invert(33%) sepia(91%) saturate(2723%)
    hue-rotate(358deg) brightness(98%) contrast(94%);
}

.detail-home-product-info-time span {
  color: var(--orange500);
  font-size: 30px;
  font-weight: 600;
}

.detail-home-product-info-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.brand-home {
  font-size: 38px;
  font-weight: 500;
  color: var(--white700);
}

.name-home {
  font-size: 42px;
  font-weight: 700;
  color: var(--mint800);
}

.price-home {
  font-size: 44px;
  font-weight: 800;
  color: var(--orange600);
}

.description-home {
  font-size: 25px;
  font-weight: 500;
  color: var(--white600);
}

.line-home {
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: var(--white200);
}

.detail-home-product-info-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-home-add-cart {
  width: 48%;
  height: 60px;
  background-color: var(--lime100);
  color: var(--green800);
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: none;
  cursor: pointer;
}

.btn-home-add-cart img {
  filter: brightness(0) saturate(100%) invert(11%) sepia(63%) saturate(627%)
    hue-rotate(132deg) brightness(91%) contrast(86%);
}

.btn-buy-now-home {
  width: 48%;
  height: 60px;
  background-color: var(--lime300);
  color: var(--green800);
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.detail-home-product-info-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.sold-home {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.sold-home img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(96%) saturate(1846%)
    hue-rotate(356deg) brightness(91%) contrast(98%);
}

.sold-home p {
  font-size: 24px;
  font-weight: 600;
  color: var(--red700);
}

.categories-home {
  font-size: 24px;
  font-weight: 600;
  color: var(--white500);
}
