@import url(../../assets/css/styles.css);

.detail-page {
  background-color: var(--white100);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.detail-product-page {
  padding: 35px;
  background-color: var(--white50);
  display: flex;
  width: calc(100% - 90px);
  border-radius: 20px;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.detail-product {
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: space-between;
  background-color: var(--white50);
}

.detail-product-information {
  width: 100%;
  height: auto;
  display: flex;
}
.detail-product-image {
  position: relative;
  margin: 0 !important;
  width: 51%;
  height: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detail-product-image-parrent {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(239, 239, 239, 0.3);
  border-radius: 20px;
}

.sale {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--green600);
  color: var(--white50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sale p {
  font-size: 24px;
  font-weight: 800;
}

.sale span {
  font-size: 15px;
  font-weight: 600;
}

img.main-product-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.detail-product-image-parrent img {
  width: 400px;
  height: 295px;
  object-fit: cover;
}

.detail-product-image-options {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: thin;
}

.product-option-item {
  width: 130px;
  height: 130px;
  background-color: rgba(239, 239, 239, 0.3);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-option-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.detail-product-info {
  width: 45%;
  height: 700px;
  margin: 0 !important;
  color: var(--white50);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detail-product-info-time {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-product-info-time img {
  filter: brightness(0) saturate(100%) invert(33%) sepia(91%) saturate(2723%)
    hue-rotate(358deg) brightness(98%) contrast(94%);
}

.detail-product-info-time span {
  color: var(--orange500);
  font-size: 30px;
  font-weight: 600;
}

.detail-product-info-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.brand {
  font-size: 38px;
  font-weight: 500;
  color: var(--white700);
}

.name {
  font-size: 40px;
  font-weight: 700;
  color: var(--mint800);
}

.price {
  font-size: 40px;
  font-weight: 800;
  color: var(--orange600);
}

.description {
  font-size: 25px;
  font-weight: 500;
  color: var(--white600);
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--white200);
}

.detail-product-info-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-add-cart {
  width: 48%;
  height: 60px;
  background-color: var(--lime100);
  color: var(--green800);
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: none;
  cursor: pointer;
}

.btn-add-cart img {
  filter: brightness(0) saturate(100%) invert(11%) sepia(63%) saturate(627%)
    hue-rotate(132deg) brightness(91%) contrast(86%);
}

.btn-buy-now {
  width: 48%;
  height: 60px;
  background-color: var(--lime300);
  color: var(--green800);
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.detail-product-info-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  gap: 20px;
}

.sold {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.sold img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(96%) saturate(1846%)
    hue-rotate(356deg) brightness(91%) contrast(98%);
}

.sold p {
  font-size: 24px;
  font-weight: 600;
  color: var(--red700);
}

.categories {
  display: flex;
  gap: 6px;
  font-size: 24px;
  font-weight: 600;
  color: var(--white500);
}

.categories span {
  text-decoration: underline;
}

.line1 {
  width: 100%;
  height: 2px;
  background-color: var(--white200);
}

.detail-product-nameshop {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.detail-avatar {
  object-fit: contain;
}

.detail-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-name span {
  font-weight: 700;
  color: var(--white950);
  font-size: 25px;
}

.detail-name img {
  filter: invert(52%) sepia(92%) saturate(3351%) hue-rotate(1deg)
    brightness(101%) contrast(103%);
}

.detail-product-description {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detail-product-description h2 {
  color: var(--white950);
  font-weight: 700;
  font-size: 25px;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--white950);
  font-size: 20px;
}

.description-list ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 40px;
}

.ad-section img {
  width: 100%;
  height: auto;
}

.product-option-item.active {
  border: 3px solid var(--green400);
  box-shadow: 0 0 5px rgba(95, 196, 99, 0.537);
}

.rating-detail {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.rating-title-detail {
  color: var(--green900);
  font-weight: 700;
  font-size: 32px;
}

.rating-score-detail {
  color: var(--orange500);
  font-size: 28px;
}

img.ic_24.rating-icon {
  margin-bottom: 4px;
}

.reviews-list-detail {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review-item-detail {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-header-detail {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.reviewer-name-detail {
  color: var(--white950);
  font-weight: 600;
  font-size: 24px;
}

p.review-text-detail {
  width: 100%;
  color: var(--white800);
  font-weight: 400;
  font-size: 24px;
}

img.ImgRate {
  border: 1px solid var(--green900);
  border-radius: 16px;
  width: 90px;
  height: 90px;
}

.rating-line {
  width: 70%;
  height: 1px;
  background-color: var(--white200);
  margin-left: 200px;
}
